{% extends 'core.html' %}
{% block content %}
<style>
  .verse {
    display: table;
    margin: 0 auto; /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */ 
    white-space: pre-line; /* не нужен <br> */ 
    word-wrap: break-word; /* чтобы слова переносились на маленьком экране */ 
  }
  </style>
<div class="card"   style="max-width: 1000px; background-color: rgb(80, 80, 80); margin: 0 auto;">
  <img src="{{album.image.url}}" class="card-img-top" alt="...">
    <h5 class="card-header text-white">{{album.name}}</h5>
    <div class="card-body">
      <p class="verse card-text text-white">{{album.description}}</p>
      <h5 class="text-white">Песни альбома</h5>
      {% for song in songs %}
      <p>
      <a href="{% url 'jc:song_info' song_id=song.id %}" class="btn btn-black text-white">{{song.name}}</a>
      </p>
      {% endfor %}
    </div>
  </div>
{% endblock %}