{% extends 'core.html' %}
{% block content %}
<style>
    .verse {
      display: table;
      margin: 0 auto; /* для центрирования display: table; не нужно указывать ширину блока, она рассчитывается самостоятельно */ 
      white-space: pre-line; /* не нужен <br> */ 
      word-wrap: break-word; /* чтобы слова переносились на маленьком экране */ 
    }
    </style>
  <div class="card"   style="max-width: 1100px; background-color: rgb(80, 80, 80); margin: 0 auto;">
      <h5 class="card-header text-white">{{person.name}} {{person.last_name}}</h5>
      <div class="card-body">
        <p class="verse card-text text-white">{{person.info}}</p>
        <h5 class="text-white">Инструмет</h5>
        <p class="btn btn-black text-white">{{person.instrument}}</p>
      </div>
    </div>
{% endblock %}